/* Global Setting */
/* Web Page 전반에서 사용하는 Color, Font Size, Font 등 정의*/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-light-pink: #ffe6ee;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font size */
  --font-size-large: 48px;
  --font-size-medium: 28px;
  --font-size-regular: 18px;
  --font-size-small: 16px;
  --font-size-micro: 14px;

  /* Font weight */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal Tags */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

section {
  padding: 50px;
  text-align: center;
}

/* Typography */
/* 웹사이트 전반적으로 쓰여진 텍스트에 대한 스타일링 */
h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

.section__container {
  max-width: 1400px;
  margin: auto;
}

/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  z-index: 1;
}

.navbar--dark {
  background-color: var(--color-pink);
}

.navbar__logo {
  font-size: var(--font-size-medium);
  padding: 0px 12px;
}

.navbar__menu {
  display: flex;
  cursor: pointer;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  color: var(--color-white);
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  text-align: center;
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
  position: absolute;
  right: 0px;
  top: 12px;
  display: none;
  color: var(--color-white);
  font-size: var(--font-size-medium);
  padding: 0px 12px;
}

.navbar__arrow-btn {
  position: fixed;
  right: 8px;
  bottom: 8px;
  opacity: 0;
  pointer-events: none;
  color: var(--color-white);
  background-color: var(--color-pink);
  border: 1px solid var(--color-white);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 40px;
  font-size: var(--font-size-medium);
}

.navbar__arrow-btn:hover {
  transform: scale(1.1);
  transition: all var(--animation-duration) ease;
}

.visible {
  opacity: 1;
  pointer-events: all;
  transition: all var(--animation-duration) ease;
}

/* home */
#home {
  background-image: url(imgs/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__avatar:hover {
  cursor: pointer;
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-dark-pink);
}

/* About Me */
#about {
}

.about__majors {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 0;
  margin: 12px 80px;
}

.major {
  padding: 20px 20px;
}

.major__icon {
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 80px;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  margin: auto;
}

.major__title,
.major__description {
  color: var(--color-dark-gray);
  width: 220px;
}

.major__title {
  font-size: var(--font-size-medium);
}
.major__description {
  font-size: var(--font-size-regular);
}

.major:hover .major__icon {
  color: var(--color-pink);
  border: 2px solid var(--color-pink);
}

.major:hover .major__icon i {
  transform: rotate(8deg) scale(1.1);
  transition: all var(--animation-duration) ease-out;
}

.major:hover .major__title,
.major:hover .major__description {
  color: var(--color-dark-pink);
}

.about__division {
  display: flex;
  justify-content: center;
}

.about__division hr {
  width: 80%;
  margin: 28px 0px;
  border-style: dashed;
}

.about__careers {
  margin: 12px 80px;
}

.career {
  display: flex;
}

.career__logo {
  width: 80px;
  height: 80px;
  margin: 12px 40px;
}

.career__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.career__name {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
}

.career__period {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semi-bold);
}

.about__awards {
  margin: 12px 80px;
}

.award {
  position: relative;
  display: flex;
  padding: 12px 0px;
}

.award__btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  width: 400px;
  height: 200px;
}

.award__btns:hover {
  opacity: 0.7;
}

.award__btns > button {
  font-size: var(--font-size-medium);
  color: var(--color-white);
}

.award__images {
  margin-right: 16px;
  border: 2px solid var(--color-blue);
  border-radius: var(--size-border-radius);
}

.award__images > img {
  display: none;
  width: 400px;
  height: 200px;
}

.award__images .visible {
  display: flex;
}

.award__contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  height: 100%;
}

.award__contents .title {
  padding-bottom: 32px;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
}

.award__contents .description {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semi-bold);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-gray);
  color: var(--color-light-white);
  margin: 20px 0px;
}

.skillset__title {
  color: var(--color-light-white);
}

.skillset__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 60%;
  background-color: var(--color-dark-gray);
}

.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-gray);
}

.etc {
  background-color: var(--color-light-gray);
}

.skillset__left,
.tools,
.etc {
  padding: 20px;
}

.skill {
  margin: 0px 40px;
}

.skill__discription {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 7px;
  background-color: var(--color-light-gray);
}

/*
.skill__value {
  width: 50%;
  height: 7px;
  background-color: var(--color-orange);
}
*/

/* My Works */
.works__categories {
  display: flex;
  justify-content: center;
  margin: 12px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semi-bold);
  padding: 8px 32px;
  margin: 4px 2px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__count {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  top: 0px;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.works__projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  opacity: 1;
}

.works__projects.anim-out {
  transform: translateY(20px);
  transition: all var(--animation-duration) ease-out;
  opacity: 0;
}

.project {
  position: relative;
  width: 280px;
  height: 250px;
  background-color: var(--color-light-white);
  margin: 8px;
  border-radius: var(--size-border-radius);
}

.project.invisible {
  display: none;
}

.project:hover .project__description {
  opacity: 0.8;
  transition: all var(--animation-duration) ease-in;
  top: 0px;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  top: 8px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  margin: auto;
  margin-top: 4px;
  width: 72px;
  height: 2px;
  background-color: var(--color-dark-white);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonialset {
  display: flex;
  flex-flow: column;
}

.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px;
}

.testimonial:nth-child(odd) {
  flex-direction: row;
}

.testimonial:nth-child(even) {
  flex-direction: row-reverse;
}

.testimonial:nth-child(odd) > .testimonial__avatar {
  margin-right: 40px;
}

.testimonial:nth-child(even) > .testimonial__avatar {
  margin-left: 40px;
}

.testimonial__avatar > img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.testimonial__speech-bubble {
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: space-evenly;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  padding: 12px;
}

.testimonial__speech-bubble p {
  color: var(--color-light-gray);
  font-weight: var(--font-weight-semi-bold);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
  font-weight: var(--font-weight-bold);
}

/* Contact Me */
#contact {
  background-image: url(imgs/background.png);
  background-position: center;
  background-size: cover;
}

#contact * {
  color: var(--color-white);
}

.contact__links {
  display: flex;
  justify-content: center;
  padding: 12px;
  font-size: var(--font-size-large);
}

.contact__links a {
  padding: 8px;
  line-height: 20px;
}

.contact__links a:hover {
  transform: scale(1.1);
  transition: all var(--animation-duration) ease-out;
}

.link__logo {
  background-image: url(imgs/contacts/tistory_icon.png);
  background-position: center;
  background-size: cover;
  width: 46.5px;
  height: 48px;
}

@media screen and (max-width: 1000px) {
  .about__awards {
    margin: 8px;
  }

  .award {
    flex-direction: column;
    align-items: center;
  }

  .award__btns {
    width: 300px;
    height: 200px;
  }

  .award__bttns > button {
    line-height: 200px;
  }

  .award__images {
    margin: 0px;
  }

  .award__images > img {
    width: 300px;
    height: 200px;
  }

  .award__contents {
    text-align: center;
  }

  .award__contents .title {
    padding: 4px 0px;
  }
}

/* 0px ~ 768px Common Setting */
@media screen and (max-width: 768px) {
  section {
    padding: 50px 12px;
  }

  /* Navigation Bar */
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 8px 4px;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__toggle-btn {
    display: block;
  }

  /* About Me */
  .about__majors {
    flex-direction: column;
    align-items: center;
    margin: 8px;
  }

  .major {
    padding: 20px 0px;
  }

  .about__careers {
    margin: 8px;
  }

  .career__logo {
    margin: 16px;
  }

  /* Skills */
  .skillset {
    flex-direction: column;
    margin: 20px;
  }

  .skill {
    margin: 8px 0px;
  }

  .skillset__right {
    display: flex;
    flex-direction: row;
  }

  .tools,
  .etc {
    width: 50%;
    padding: 20px;
  }

  /* My Works*/
  .works__categories {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  /* Testimonials */
  .testimonial:nth-child(odd),
  .testimonial:nth-child(even) {
    flex-direction: column;
  }

  .testimonial:nth-child(odd) > .testimonial__avatar,
  .testimonial:nth-child(even) > .testimonial__avatar {
    margin: 0px;
  }
}
