/* Global Setting */
/* Web Page 전반에서 사용하는 Color, Font Size, Font 등 정의*/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font size */
  --font-size-large: 48px;
  --font-size-medium: 28px;
  --font-size-regular: 18px;
  --font-size-small: 16px;
  --font-size-micro: 14px;

  /* Font weight */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

section {
  text-align: center;
  padding-top: 60px;
}

/* Typography */
/* 웹사이트 전반적으로 쓰여진 텍스트에 대한 스타일링 */
h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  padding: 8px 0px;
}

.navbar__logo {
  font-size: var(--font-size-medium);
}

.navbar__menu {
  display: flex;
  cursor: pointer;
}

.navber__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.navber__menu__item.active {
  border: 1px solid var(--color-white);
}

.navber__menu__item:hover {
  background-color: var(--color-dark-pink);
}

/* home */
#home {
  background-image: url(imgs/background.png);
  padding: 40px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-dark-pink);
}

/* About Me */
#about {
}

.about__majors {
  display: flex;
  justify-content: space-evenly;
  margin: 12px 80px;
}

.major {
  padding: 20px 40px;
}

.major__icon {
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 80px;
  margin: auto;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  border-radius: 50%;
}

.major__title,
.major__description {
  color: var(--color-dark-gray);
}

.major__title {
  font-size: var(--font-size-medium);
}
.major__description {
  font-size: var(--font-size-regular);
}

.major:hover .major__icon {
  color: var(--color-pink);
  border: 2px solid var(--color-pink);
}

.major:hover .major__icon i {
  transform: rotate(8deg) scale(1.1);
  transition: all var(--animation-duration) ease-out;
}

.major:hover .major__title,
.major:hover .major__description {
  color: var(--color-dark-pink);
}

.about__division {
  display: flex;
  justify-content: center;
}

.about__division hr {
  width: 80%;
  margin: 28px 0px;
  border-style: dashed;
}

.about__careers {
  margin: 12px 80px;
}

.career {
  display: flex;
}

.career__logo {
  width: 80px;
  height: 80px;
  margin: 12px 40px;
}

.career__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.career__name {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
}
.career__period {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semi-bold);
}

/* Skills */

/* My Works */

/* Testimonials */

/* Contact Me */
