/* Footer */
#footer {
  background: url("../../../../public/imgs/background_dark.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-size: 21px;
}

#footer > * {
  width: 33%;
  color: var(--color-white);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semi-bold);
}

.siteLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.siteLink > * {
  padding: 0px 6px;
  font-size: 21px;
}

.tistoryLogo {
  width: 21px;
  height: 21px;
  background: url("../../../../public/imgs/footer/tistory_icon.png");
  background-position: center;
  background-size: cover;
}
