/* HamburgerButton */
.hamburgerBar {
  /* position */
  position: absolute;
  right: 12px;
  top: 12px;
  display: none;
  flex-direction: column;
}

.hamburgerBar > span {
  /* position */
  margin: 2px 0px;
  transition: all var(--animation-duration) ease-out;

  /* design */
  width: 30px;
  height: 5px;
  border-radius: var(--size-border-radius);
  background-color: white;
}

/* Navigation Toggle Button */
.button__container {
  /* position */
  position: absolute;
  right: 12px;
  top: 48px;
  display: flex;

  /* design */
  background-color: var(--color-dark-white);
  width: 48px;
  height: 24px;
  border-radius: 24px;
}

.left__image,
.right__image {
  /* design */
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 27px;
}

.button__container .button {
  /* position */
  position: absolute;
  left: 1px;
  top: 1px;
  transition: transform var(--animation-duration) ease-out;

  /* design */
  background-color: var(--color-white);
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
