/* HamburgerButton */
.hamburgerButton {
  /* position */
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  flex-direction: column;
}

.bar {
  /* position */
  margin: 2px 0px;
  transition: all var(--animation-duration) ease-out;

  /* design */
  width: 30px;
  height: 5px;
  border-radius: var(--size-border-radius);
  background-color: white;
}
