/* Toggle Button */
.toggleButton {
  /* position */
  position: absolute;
  right: 12px;
  top: 48px;
  display: flex;

  /* design */
  background-color: var(--color-dark-white);
  width: 48px;
  height: 24px;
  border-radius: 24px;
}

.leftContainer,
.rightContainer {
  /* design */
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 27px;
}

.toggle {
  /* position */
  position: absolute;
  left: 1px;
  top: 1px;
  transition: transform var(--animation-duration) ease-out;

  /* design */
  background-color: var(--color-white);
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
