/* Global Setting */
/* Web Page 전반에서 사용하는 Color, Font Size, Font 등 정의*/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-light-pink: #ffe6ee;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font size */
  --font-size-large: 48px;
  --font-size-medium: 28px;
  --font-size-regular: 18px;
  --font-size-small: 16px;
  --font-size-micro: 14px;

  /* Font weight */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal Tags */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

section {
  padding: 50px;
  text-align: center;
}

/* Typography */
/* 웹사이트 전반적으로 쓰여진 텍스트에 대한 스타일링 */
h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  background-color: var(--color-pink);
}

#navbar > a {
  padding: 0px 12px;
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
}

.navbar__logo {
  background-image: url(../public/imgs/logo.png);
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.navbar__menu {
  display: flex;
  cursor: pointer;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  color: var(--color-white);
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  text-align: center;
  font-weight: var(--font-weight-semi-bold);
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-pink);
}
