/* Navigation Bar */
#navbar {
  /* position */
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  z-index: 1;

  /* design */
  font-size: var(--font-size-regular);
  width: 100vw;
  height: 3.5em;
}

.navbar__logo {
  margin-left: 12px;
}

.navbar__logo__img {
  background-image: url("../../../../public/imgs/logo.png");
  background-position: center;
  background-size: cover;
  width: 178px;
  height: 42px;
}

.navbar__menu {
  margin-right: 12px;
  display: flex;
  cursor: pointer;
}

.navbar__menu__item {
  /* position */
  padding: 8px;
  text-align: center;

  /* design */
  color: var(--color-white);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semi-bold);
}

.navbar__menu__item::after {
  /* position */
  position: relative;
  display: block;
  transition: all var(--animation-duration) ease-out;

  /* design */
  content: "";
  height: 5px;
  width: 0%;
  background-color: var(--color-orange);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover::after {
  width: 100%;
}

.navbar__menu__item .contents {
  display: flex;
}

.navbar__menu__item .contents > span {
  padding: 0px 2px;
}
